<!DOCTYPE html>

<div class="list-albums">
  <% albums.forEach(function(album) { %>

    <div>
      <h4><a href="/albums/<%= album.id %>"><%= album.title %></a></h4>
      <span><%= album.artist %></span>
    </div>
    
  <% }) %>
</div>