<!DOCTYPE html>

<div class="searchForm">
  <form method="post" action="/search">
    <input name="searchQueries" type="text" require/>
    <input type="submit">
  </form>
  <div class="foundQueries">
    <% if (foundQueries) { %>
      <% foundQueries.forEach(function(query) { %>
        <h3><%=query.title%></h3>
      <% })%>
    <% } %>
  </div>
</div>