

<form method="post" action="/search">
	<input name="searchQueries" type="text" require/>
	<input type="submit">
</form>

<% if (foundQueries) { %>
	<% foundQueries.foreach(function(query) { %>
		<h3><%=query%></h3>
	<% })%>
<% } %>