<!DOCTYPE html>

<% include ./partials/header %>

<div class="sign-up-page">
  <h2>Sign Up for Vinyl!</h2>
  
  <% if (errorSignUp) { %>
    <p class="red"><%= errorSignUp %></p>
  <% } %>

  <form action="/authenticate/sign-up" method="post">
    <input type="name" name="name" placeholder="Full Name" required> 
    <br><input type="email" name="email" placeholder="Email" required>
    <br><input type="password" name="password" placeholder="Password" required>
    <br><input type="submit" value="sign-up">
  </form>
</div>

<% include ./partials/footer %>