<!DOCTYPE html>

<% include ../partials/header %>
  <div class="error-page">
    <h1>ERROR: Status 500</h1>
    <% if (error) { %>
      <h2><%= error.message%></h2>
      <pre><%= error.stack %></pre>
    <% } %>
  </div>
<% include ../partials/footer %>